<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #B57EDC;">

        <div class="container">
            <a class="navbar-brand" href="/">To Do Task</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="/">All Tasks</a>
                    <a class="nav-item nav-link active" href="/tasks/create">Add</a></div>
            </div>
        </div>
    </nav>
</div>
